$primary: #f5a606;
$dark: #221613;
$light: #FFFFFF;
$primary_soft: #fabc2f;
$secondary: #f20e05;
$font_heading: 'RocknRoll One', sans-serif;
$font_body: 'Istok Web', sans-serif;
$font_back: 'Poppins', sans-serif;